* {
  /* faire en sorte que la bordure et le padding soient calculés a l interieur du conteneur -> on change le mode de calcul du conteneur */
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("img/background-pizza.jpg");
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  padding: 3rem 2rem;
}

.header {
  background-color: rgb(255, 255, 255, 0.8);
  padding: 1rem;
}

.header .fleche-retour {
  display: none;
}

.header div {
  align-items: center;
}

.header img {
  width: 100%;
  max-width: 10rem;
}

.header h1 {
  color: rgb(68, 68, 68);
  font-size: 6rem;
  margin-bottom: 0;
  font-weight: normal;
}